
    <header class="header-area">
        <nav class="navbar navbar-expand-lg main-menu">
            <div class="container-fluid">

                <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" class="d-inline-block align-top" alt=""></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu-toggle"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="index.html">Home 1</a></li>
                                <li><a class="dropdown-item" href="index-2.html">Home 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                        <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="dashboard.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="dashboard.html">Dashboard</a></li>
                                <li><a class="dropdown-item" href="exchange-currency.html">Exchange Currency</a></li>
                                <li><a class="dropdown-item" href="money-transfer.html">Money Transfer</a></li>
                                <li><a class="dropdown-item" href="request-money.html">Request Money</a></li>
                                <li><a class="dropdown-item" href="transection-log.html">Transection Log</a></li>
                                <li><a class="dropdown-item" href="invoice.html">Invoice</a></li>
                                <li><a class="dropdown-item" href="vouchers.html">Vouchers</a></li>
                                <li><a class="dropdown-item" href="support-ticket.html">Support Ticket</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                                <li><a class="dropdown-item" href="faq.html">FAQ page</a></li>
                                <li><a class="dropdown-item" href="404.html">Error</a></li>
                                <li><a class="dropdown-item" href="login.html">Login</a></li>
                                <li><a class="dropdown-item" href="register.html">Signup</a></li>
                                <li><a class="dropdown-item" href="refund.html">Refund</a></li>
                                <li><a class="dropdown-item" href="privacy.html">Privacy</a></li>
                                <li><a class="dropdown-item" href="tos.html">Terms and Services</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="blog.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Announcements</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="blog.html">Announcements</a></li>
                                <li><a class="dropdown-item" href="blog-details.html">Announcement Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
          
                    <div class="header-btn justify-content-end">
                        <a href="dashboard.html" class="bttn-small btn-emt"><i class="ti-user"></i>Dashboard</a>
                    </div>
                </div>
            </div>
        </nav>
    </header><!--/Header Area-->


<router-outlet></router-outlet>

  <!--Footer Area-->
    <footer class="footer-area section-padding-2 blue-bg wave-animation">
        <div class="container">
            <div class="row mb-40">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget footer-nav">
                        <h3>Regular links</h3>
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">Wallet</a></li>
                            <li><a href="#">Case Studies</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget footer-nav">
                        <h3>Essentials</h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Recent event</a></li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">Affiliate program</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget footer-nav">
                        <h3>Essentials</h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Recent event</a></li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">Affiliate program</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="m-app">
                            <a href="#"><i class="fa fa-apple"></i>App Store</a>
                            <a href="#"><i class="fa fa-play"></i>Google Play</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 centered cl-white copyright mt-50">
                    <p class="mb-0">Copyright &copy; 2020 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer><!--/Footer Area-->
